.dario-wip-message {
  margin: 1rem;
  padding: 1rem .5rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #329b76;

  & code {
    font-weight: bold;
    color: #585858;
    font-size: 1rem;
    background-color: #eaeaea;
    padding: .3rem;
  }
}